section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
}